.container{
    padding: 1.3rem;
    background-color: rgb(255, 253, 253);
    display: flex;
    flex-direction: column;
}

.backDropContainer{
    width: 100%;
    height: 30vh;
    background-size: cover;
    background: url("https://images.pexels.com/photos/1287142/pexels-photo-1287142.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.backDropContainer img{
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    left: 8%;
    text-align: center;
}

.profileContainer_details{
    padding-top: 6.6rem;
}

.postCard{
    width: 50%;
    background: white;
    padding: 1rem;
    box-shadow: 5px 5px 10px 10px #e3e3e3;
    border-radius: 20px;
    margin-bottom: 12px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    text-align: start;
}

.card__profileContainer{
    display: flex;
}

.card__profileContainer>img{
    width: 100%;
    height: auto;
    height: 15rem;
    object-fit: cover;
    border-radius: 20px;
}

.backDrop__overlay{
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    left: 8%;
    text-align: center;
    z-index: 4;
    transition: all 0.4s;
    cursor: pointer;
    color: white;
    opacity: 0.0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

.backDrop__overlay:hover{
    opacity: 0.4;
    background-color: black;
}

.connectBtn{
    padding-inline: 0.8rem;
    padding-block: 0.5rem;
    background-color: rgba(3, 93, 183, 0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.connectedButton{
    padding-inline: 0.8rem;
    padding-block: 0.5rem;
    border: 1px solid silver;
    outline: none;
    color: rgba(3, 93, 183, 0.905);
    border-radius: 10px;
    cursor: pointer;
}

.profile_sec1{
    background-color: whitesmoke;
    border: 1px solid silver;
    border-radius: 20px;
    padding: 1.5rem;
    width: 100%;
    margin: 1.2rem 0;
}

.profile_sec2{
    margin: 1.2rem 0;
    background-color: whitesmoke;
    border: 1px solid silver;
    border-radius: 20px;
    padding: 1rem;
    width: 100%;
}

.workHistoryContainer{
    display: flex;
    gap: 1.4rem;
    padding-top: 1.4rem;
    width: 100%;
    flex-wrap: wrap;
}

.workHistoryCard{
    min-width: 100%;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    background: white;
    padding: 1rem;
    box-shadow: 5px 5px 10px 10px #e3e3e3;
    border-radius: 20px;
}

.profileContainer__flex{
    display: flex;
    gap: 0.7rem;
}

.profileContainer_details input{
    outline: none;
    border-style: none;
    padding-inline: 10px;
    padding-block: 9px;
}

.nameEdit{
    font-size: 1.5rem; 
    font-weight: bold;
    width: 150px; 
    background-color: inherit;
    max-width: 150px !important; 
    padding: 4px 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.updateProfileBtn{
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    background-color: rgba(3, 93, 183, 0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1rem;
    width: fit-content;
}

.profileContainer_details textarea{
    outline: none;
    border: none;
    padding-inline: 10px;
    padding-block: 9px;
    font-family: "Poppins" !important;
    font-size: 1.1rem;
}

.addWorkButton{
    padding-inline: 0.8rem;
    background-color: white;
    border: 1px solid silver;
    border-radius: 10px;
    padding-block: 0.5rem;
    cursor: pointer;
}

.commentsContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allCommentsContainer{
    width: 40vw;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.inputField{
    padding-inline: 1.3rem;
    padding-block: 0.8rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid silver;
    width: 100%;
}

.postBox{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1.5rem;
}

@media  (max-width: 1200px) {
    .postBox{
        flex-direction: column; 
    }
    .postCard{
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .backDropContainer img{
        width: 6.5rem;
        height: 6.5rem;
    }
}