.container{
    position: sticky;
    top: 0px;
    background-color: whitesmoke;
    padding: 0;
    margin-bottom: 30px ;
    z-index: 5;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 0.5rem;
}

.navBarOptionContainer{
    display: flex;
}

.buttonJoin{
    background: #eccc3c;
    border-radius: 10px;
    padding-block: 0.6rem;
    padding-inline: 1.2rem;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
}

.logo{
    cursor: pointer;
    height: 20%;
    width: 20%
}

@media (max-width: 900px) {
    .logo{
        height: 20%;
        width: 28%;
    }
}

@media only screen and (max-width: 600px){
    .container{
        width: 100%;
    }
    .logo{
        height: 20%;
        width: 38%;
    }
}

@media (max-width: 450px) {
    .logo{
        height: 20%;
        width: 50%;
    }
}